@import 'variables';
/**/
header.main-header {
	background: linear-gradient(180deg, rgba(#000, 0.9) 55%, transparent);
	background-size: auto 200%;
	background-position: 0 100%;
	display: grid;
	grid-template-columns: 260px 1fr;
	height: 100px;
	left: 0px;
	overflow: hidden;
	position: fixed;
	top: 0px;
	transition: all 0.5s;
	width: 100%;
	z-index: 99;
	//
	#logo {
		justify-self: center;
		margin: 0;
		padding: 6px 0 0;
		width: 175px;
		//
		@include tablet {
			justify-self: start;
			margin-left: 15px;
		}
		//
		a {
			color: #fff;
			display: block;
			text-decoration: none;
			width: 100%;
			img {
				display: block;
				width: 100%;
			}
		}
	} // #logo
	@include tablet {
		background-position: 0 0;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-flow: dense;
		height: 60px;
	}
} // .main-header
//
header.opaque {
	background-position: 0 0;
	height: 70px;
	//
	@include tablet {
		height: 60px;
	}
}
//
header.expanded {
	height: 100vh;
}
//
